<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= htmlWebpackPlugin.options.title %></title>

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300&subset=latin,cyrillic' rel='stylesheet'
          type='text/css'>
</head>

<body class="l-body">

<header class="l-header">
    <div class="hdrContent wrapper l-header__logo">
        <div class="hdrContent__left">
            <div class="hdrContent__logo"></div>
            <div class="hdrContent__leadText">
                Java Professionals <br/>
                Community
            </div>
        </div>
        <div class="hdrContent__right">
            <div class="hdrNextEvent">
                <p class="hdrNextEvent__place">
                    31 Мая <br>
                    Минск, Imaguru
                </p>

                <a href="https://www.facebook.com/events/940032022762180/"
                   class="hdrNextEvent__btn" title="Присоединиться">
                    Присоединиться
                </a>
            </div>
        </div>
    </div>
    <nav class="hdrMenu">
        <section class="hdrMenu__links">
            <a href="#about">О Нас</a>
            <a href="#schedule">События</a>
            <a href="/speakers">Докладчики</a>
        </section>
        <section class="hdrMenu__social">
            <a href="https://www.facebook.com/groups/java.prof.community/"
               target="_blank"
               class="hdrMenu__social_facebook"></a>
            <a href="https://gitter.im/JavaBy/chat"
               target="_blank"
               class="hdrMenu__social_gitter"></a>
            <a href="https://www.youtube.com/channel/UCDjCCgjlyR7uzhH7ZyTGn4Q"
               target="_blank"
               class="hdrMenu__social_youtube"></a>
        </section>
    </nav>
</header>

<main class="l-main">
    <article id="schedule" class="mainBlock">
        <h2 class="mainBlock__title">Встречаемся 31 мая, 19:00. Imaguru (Фабрициуса, 4)</h2>
        <section class="jpEvent mainBlock__content">
            <div class="jpEvent__place"></div>
            <div class="jpEvent__talks">
                <div class="jpEvent__talk">
                    <div class="jpEvent__talkPhoto">
                        <img src="<%- require('./assets/images/sn.png') %>">
                    </div>
                    <div class="jpEvent__talkInfo">
                        <div class="jpEvent__talkSpeaker_name">
                            Сергей Нехвядович
                        </div>
                        <div class="jpEvent__talkSpeaker_title">
                            Lead Software Engineer, EPAM
                        </div>
                        <div class="jpEvent__talkNotes">
                            <strong>Real modular Java applications with OSGI</strong>.
                            Мир модульных приложений под OSGI соусом, или там где микросервисы не справляются.
                            Интригующий рассказ про опыт разработки приложения с более 450 модулями используя OSGI.
                        </div>
                    </div>
                </div>
                <div class="jpEvent__talk">

                    <div class="jpEvent__talkPhoto">
                        <img src="<%- require('./assets/images/vt.jpg') %>">
                    </div>
                    <div class="jpEvent__talkInfo">
                        <div class="jpEvent__talkSpeaker_name">
                            Василина Терехова
                        </div>
                        <div class="jpEvent__talkSpeaker_title">
                            Senior Software Engineer, EPAM
                        </div>
                        <div class="jpEvent__talkNotes">
                            <strong>WebRTC + Websocket's + Java + С = &#x2665;</strong>.
                            Как создавалось медийное Peer to Peer решение на Java, где под капотом WebRTC, Websocket’s и даже Си.
                            Стриминг видео, “сишнный” нативный код и всё это завёрнуто в Java формы.
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </article>
    <article id="about" class="mainBlock">
        <p>
            Минское сообщество Java профессионалов, где не стесняются громко разговаривать про то, что любят.
            Приходите на наши мероприятия, общайтесь, знакомтесь с людьми которые любят своё дело.
            А ещё лучше – расскажите про свой опыт в мире Java.
        </p>
        <p>
            <a href="mailto:java.professionalsby@gmail.com" class="about__mail">
                <img src="<%- require('./assets/images/email.svg') %>" class="about__mailIcon">
            </a>
        </p>
    </article>
    <article id="news">

    </article>

</main>

<footer>

</footer>

<script src="index_bundle.js"></script>
</body>
</html>